@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Add.AddCashgamePageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">New Cashgame</h1>
</div>
<div class="block gutter">
    
    @Html.Partial("~/Views/Forms/Errors.cshtml")

    <form method="post">
        <fieldset>
            <p>
                @Html.LabelFor(model => model.TypedLocation, "Enter Location", new { @class = "label" })
                @Html.TextBoxFor(model => model.TypedLocation, new { @class="textfield", list = "location-list"})

                <datalist id="location-list">
                    @Html.LabelFor(model => model.SelectedLocation, "or", new { @class = "label" })
                    @Html.DropDownListFor(x => x.SelectedLocation, Model.Locations)
                </datalist>
            </p>
        </fieldset>
        <div class="buttons">
            <button type="submit" class="action">Create</button>
        </div>
    </form>
</div>