@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Details.CashgameDetailsPageModel

@{
    Layout = PageLayout.TwoColumns;
}

@section ContentTop{
	<div class="block gutter">
        <h1 class="page-heading">@Model.Heading</h1>
	</div>
}

@section Aside2{
    <div class="block gutter">
        <dl class="value-list">
            @if (Model.ShowTime)
            {
                <dt class="value-list__key">Start Time</dt>
                <dd class="value-list__value">@Model.StartTime</dd>
                <dt class="value-list__key">End Time</dt>
                <dd class="value-list__value">@Model.EndTime</dd>
                <dt class="value-list__key">Duration</dt>
                <dd class="value-list__value">@Model.Duration</dd>
            }
            <dt class="value-list__key">Location</dt>
            <dd class="value-list__value"><a href="@Model.LocationUrl">@Model.Location</a></dd>
        </dl>
        
        <div class="buttons">
            @if (Model.EnableEdit)
            {
                <a href="@Model.EditUrl" class="button button--action">Edit Cashgame</a>
            }
        </div>
    </div>
}

<div class="block gutter">
    @Html.RenderModel(Model.CashgameDetailsTableModel)

    <div data-require="cashgame-game-chart">
        @Html.RenderModel(Model.SpinnerModel)
        <script type="application/json">
            @Html.Raw(Model.ChartJson)
        </script>
    </div>

</div>