@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Details.CashgameDetailsPageModel

@{
    Layout = PageLayout.TwoColumns;
}

@section ContentTop{
	<div class="block gutter">
		<h1>@Model.Heading</h1>
	</div>
}

@section Aside2{
    <div class="block gutter">
        <dl class="value-list">
            @if (Model.ShowStartTime)
            {
                <dt class="label">Start Time</dt>
                <dd>@Model.StartTime</dd>
            }
            @if (Model.ShowEndTime)
            {
                <dt class="label">End Time</dt>
                <dd>@Model.EndTime</dd>
            }
            @if (Model.DurationEnabled)
            {
                <dt class="label">Duration</dt>
                <dd>@Model.Duration</dd>
            }
            <dt class="label">Location</dt>
            <dd>@Model.Location</dd>
        </dl>
        
        <div class="buttons">
            @if (Model.EnableEdit)
            {
                <a href="@Model.EditUrl" class="button action">Edit Cashgame</a>
            }
        </div>
    </div>
}

<div class="block gutter">
    @Html.Partial("CashgameDetails/ResultTable", Model.CashgameDetailsTableModel)

    <div data-require="cashgame-game-chart" data-url="@Model.ChartDataUrl">Loading chart...</div>

</div>