@model Web.Models.CashgameModels.Details.CashgameDetailsTableItemModel
<tr class="table-list__row">
    <td class="table-list__cell"><a href="@Model.PlayerUrl">@Model.Name</a></td>
    <td class="table-list__cell table-list__cell--numeric">@Model.Buyin</td>
    <td class="table-list__cell table-list__cell--numeric">@Model.Cashout</td>
    <td class="table-list__cell table-list__cell--numeric @Model.WinningsClass">@Model.Winnings</td>
    <td class="table-list__cell table-list__cell--numeric">@Model.Winrate</td>
</tr>