@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.PlayerModels.Details.PlayerDetailsPageModel

@{
    Layout = PageLayout.TwoColumns;
}

<div class="block gutter">
    <h1 class="page-heading">
        @Model.DisplayName
        <div class="player-color-box" style="background-color: @Model.Color"></div>
    </h1>
</div>
<div class="block gutter">
    @Html.Partial("PlayerDetails/PlayerFacts", Model.PlayerFactsModel)
    @Html.Component(Model.BadgeListModel)
    
    @if (Model.DeleteEnabled)
    {
        <p>
            <a href="@Model.DeleteUrl" class="button button--warning" data-require="delete-confirmation" data-message="Delete Player?">Delete</a>
        </p>
    }
</div>
@section Aside2{
    <div class="block gutter">
        <h2 class="module-heading">User</h2>
        @if (Model.ShowUserInfo){
            @Html.Partial("~/Views/Misc/Avatar.cshtml", Model.AvatarModel)
            <p>
                This player is a registered user.
            </p>
            <p>
                <a href="@Model.UserUrl" class="button">View User Profile</a>
            </p>
        } else {
            <p>
                This player is not registered yet.
            </p>
            <p>
                <a href="@Model.InvitationUrl" class="button">Invite Player</a>
            </p>
        }
    </div>
}