@model Web.Models.PlayerModels.Badges.PlayerBadgesModel
<h2 class="h2">Player Achievements</h2>

<ul class="achievements">
    @Html.Partial("PlayerDetails/PlayerBadge", @Model.PlayedOneGame)
    @Html.Partial("PlayerDetails/PlayerBadge", @Model.PlayedTenGames)
    @Html.Partial("PlayerDetails/PlayerBadge", @Model.Played50Games)
    @Html.Partial("PlayerDetails/PlayerBadge", @Model.Played100Games)
    @Html.Partial("PlayerDetails/PlayerBadge", @Model.Played200Games)
    @Html.Partial("PlayerDetails/PlayerBadge", @Model.Played500Games)
</ul>