@model Web.Models.PlayerModels.Facts.PlayerFactsModel

<h2 class="h2">Player Facts</h2>

<dl class="value-list">
    <dt class="value-list__key">Total result</dt>
    <dd class="value-list__value">@Model.Winnings</dd>
    <dt class="value-list__key">Best result</dt>
    <dd class="value-list__value">@Model.BestResult</dd>
    <dt class="value-list__key">Worst result</dt>
    <dd class="value-list__value">@Model.WorstResult</dd>
    <dt class="value-list__key">Games played</dt>
    <dd class="value-list__value">@Model.GamesPlayed</dd>
    <dt class="value-list__key">Time played</dt>
    <dd class="value-list__value">@Model.TimePlayed</dd>
    <dt class="value-list__key">Total Wins</dt>
    <dd class="value-list__value">@Model.BestResultCount</dd>
    <dt class="value-list__key">Winning Streak</dt>
    <dd class="value-list__value">@Model.WinningStreak</dd>
    <dt class="value-list__key">Losing Streak</dt>
    <dd class="value-list__value">@Model.LosingStreak</dd>
</dl>