@model Web.Models.CashgameModels.Facts.CashgameFactsPageModel

@{
    Layout = "~/Views/Layouts/TwoColumns.cshtml";
}

@section ContentTop
{
    @Html.Partial("~/Views/Navigation/CashgamePageNavigation.cshtml", Model.PageNavModel)

    <div class="block gutter heading-nav-container">
        @Html.Partial("~/Views/Navigation/CashgameYearNavigation.cshtml", Model.YearNavModel)
    </div>
}

<div class="block gutter">    
    <h2 class="h2">Single Game</h2>
    <dl class="value-list">
        <dt class="label">Best Result</dt>
        <dd>@Model.BestResultName: <span class="pos-result">@Model.BestResultAmount</span></dd>

        <dt class="label">Worst Result</dt>
        <dd>@Model.WorstResultName: <span class="neg-result">@Model.WorstResultAmount</span></dd>
        
        @*
        BiggestBuyin
        BiggestCashout
        BiggestComeback
        *@
        
    </dl>
    
    <h2 class="h2">Totals</h2>
    <dl class="value-list">
        <dt class="label">Most Time Played</dt>
        <dd>@Model.MostTimeName: @Model.MostTimeDuration</dd>
        
        <dt class="label">Best Total Result</dt>
        <dd>@Model.BestTotalWinningsName: <span class="pos-result">@Model.BestTotalWinningsAmount</span></dd>
        
        <dt class="label">Worst Total Result</dt>
        <dd>@Model.WorstTotalWinningsName: <span class="neg-result">@Model.WorstTotalWinningsAmount</span></dd>

        <dt class="label">Biggest Total Buyin</dt>
        <dd>@Model.BiggestTotalBuyinName: @Model.BiggestTotalBuyinAmount</dd>
        
        <dt class="label">Biggest Total Cashout</dt>
        <dd>@Model.BiggestTotalCashoutName: @Model.BiggestTotalCashoutAmount</dd>
        
        @*
        MostGamesPlayed
        HighestWinrate
        *@

    </dl>
</div>

@section Aside1
{
    <div class="block gutter">
        <h2 class="h2">Overall</h2>
        <dl class="value-list">
            <dt class="label">Number of games</dt>
            <dd>@Model.GameCount</dd>

            <dt class="label">Total Time Played</dt>
            <dd>@Model.TotalGameTime</dd>
        
            <dt class="label">Total Turnover</dt>
            <dd>@Model.TotalTurnover</dd>
        </dl>
    </div>
}
