@model Web.Models.CashgameModels.Facts.CashgameFactsPageModel

@{
    Layout = "~/Views/Layouts/OneColumn.cshtml";
}

@Html.Partial("~/Views/Navigation/CashgamePageNavigation.cshtml", Model.PageNavModel)

<div class="block gutter heading-nav-container">
    @Html.Partial("~/Views/Navigation/CashgameYearNavigation.cshtml", Model.YearNavModel)
</div>

<div class="block gutter">
    <h2>Overall Facts</h2>
    <dl class="value-list">
        <dt>Number of games</dt>
        <dd>@Model.GameCount</dd>

        <dt>Total Time Played</dt>
        <dd>@Model.TotalGameTime</dd>
        
        <dt>Total Turnover</dt>
        <dd>@Model.TotalTurnover</dd>
    </dl>
    
    <h2>Player Facts</h2>
    <dl class="value-list">
        <dt>Best Result</dt>
        <dd>@Model.BestResultName: @Model.BestResultAmount</dd>

        <dt>Worst Result</dt>
        <dd>@Model.WorstResultName: @Model.WorstResultAmount</dd>

        <dt>Most Time Played</dt>
        <dd>@Model.MostTimeName: @Model.MostTimeDuration</dd>
        
        <dt>Best Total Result</dt>
        <dd>@Model.BestTotalWinningsName: @Model.BestTotalWinningsAmount</dd>
        
        <dt>Worst Total Result</dt>
        <dd>@Model.WorstTotalWinningsName: @Model.WorstTotalWinningsAmount</dd>

        <dt>Biggest Total Buyin</dt>
        <dd>@Model.BiggestTotalBuyinName: @Model.BiggestTotalBuyinAmount</dd>
        
        <dt>Biggest Total Cashout</dt>
        <dd>@Model.BiggestTotalCashoutName: @Model.BiggestTotalCashoutAmount</dd>

        <!--
            BiggestBuyin
            BiggestCashout
            BiggestComeback
            MostGamesPlayed
            HighestWinrate

            BiggestTotalBuyin
            BiggestTotalCashout
            BestTotalResult
            WorstTotalResult
            -->
    </dl>
</div>
