@model Web.Models.CashgameModels.Details.CashgameDetailsTableItemModel
<tr>
    <td><a href="@Model.PlayerUrl">@Model.Name</a></td>
    <td class="amount">@Model.Buyin</td>
    <td class="amount">@Model.Cashout</td>
    <td class="amount @Model.WinningsClass">@Model.Winnings</td>
    <td class="amount">@Model.Winrate</td>
</tr>