@model Web.Models.CashgameModels.Leaderboard.CashgameLeaderboardTableItemModel

<tr>
    <td class="rank first base-column">@Model.Rank.</td>
    <td class="name base-column">
        <a href="@Model.PlayerUrl">@Model.Name</a>
    </td>
    <td class="amount result @Model.ResultClass sort-column">@Model.TotalResult</td>
    <td class="amount">@Model.Buyin</td>
    <td class="amount">@Model.Cashout</td>
    <td class="gametime">@Model.GameTime</td>
    <td class="gametime">@Model.GameCount</td>
    <td class="winrate">@Model.WinRate</td>
</tr>