@model Web.Models.CashgameModels.Leaderboard.CashgameLeaderboardTableItemModel

<dl>
    <dt>Rank</dt>
    <dd class="rank first">@Model.Rank.</dd>

    <dt>Player</dt>
    <dd class="name">
        <a href="@Model.PlayerUrl">@Model.Name</a>
    </dd>

    <dt>Winnings</dt>
    <dd class="amount result @Model.ResultClass">@Model.TotalResult</dd>

    <dt>Time played</dt>
    <dd class="gametime">@Model.GameTime</dd>

    <dt>Winrate</dt>
    <dd class="winrate">@Model.WinRate</dd>
</dl>