@model Web.Models.CashgameModels.Leaderboard.CashgameLeaderboardTableModel

<table class="leaderboard">
    <thead>
        <tr>
            <th class="base-column">Rank</th>
            <th class="base-column">Player</th>
            <th class="@Model.ResultSortClass">Winnings</th>
            <th class="@Model.BuyinSortClass">Buyin</th>
            <th class="@Model.CashoutSortClass">Cashout</th>
            <th class="@Model.GameTimeSortClass">Time played</th>
            <th class="@Model.GameCountSortClass">Games played</th>
            <th class="@Model.WinRateSortClass">Winrate</th>
        </tr>
    </thead>
    <tbody class="list">
        @foreach(var itemModel in Model.ItemModels)
        {
            @Html.Partial("Leaderboard/LeaderboardTableItem", itemModel)
        }
    </tbody>
</table>