@model Web.Models.CashgameModels.Action.CheckpointModel
@if (Model.ShowLink)
{
    <a href="@Model.EditUrl">@Model.Timestamp</a>
}
else
{
    <span>@Model.Timestamp</span>
}
@Model.Description: @Model.Stack