@model Web.Models.CashgameModels.Action.CheckpointModel
@if (Model.ShowLink)
{
    <a href="@Model.EditUrl.Relative">@Model.Timestamp</a>
}
else
{
    @Model.Timestamp
}
@Model.Description: @Model.Stack