@using Web.Models.PageBaseModels
@model Web.Models.UserModels.UserDetailsPageModel

@{
    Layout = PageLayout.TwoColumns;
}

@section Aside1{
    <div class="block gutter">
		@Html.Partial("~/Views/Misc/Avatar.cshtml", Model.AvatarModel)
	</div>
}
<div class="block gutter">
    <h1 class="page-heading">User Profile</h1>
</div>
<div class="block gutter">
    <dl class="value-list">
        <dt class="value-list__key">Login Name</dt>
        <dd class="value-list__value">@Model.UserName</dd>
        <dt class="value-list__key">Display Name</dt>
        <dd class="value-list__value">@Model.DisplayName</dd>
        <dt class="value-list__key">Real Name</dt>
        <dd class="value-list__value">@Model.RealName</dd>
        <dt class="value-list__key">Email</dt>
        <dd class="value-list__value">@Model.Email</dd>
    </dl>
    @if (Model.ShowEditLink)
    {
        <div>
            <a href="@Model.EditUrl" class="button action">Edit Profile</a>
            @if (Model.ShowPasswordLink)
            {
                <a href="@Model.ChangePasswordUrl" class="button action">Change Password</a>
            }
        </div>
    }
</div>