@model Web.Models.CashgameModels.Running.RunningCashgameTableItemModel
<div class="standings-item">
    <div class="name">
		<a href="@Model.PlayerUrl">@Model.Name</a>
		@if (@Model.HasCashedOut)
		{
		    <i title="Cashed out" class="icon-ok-sign"></i>
		}
	</div>
	<div class="amounts">
		<div><i title="Buy in" class="icon-signin"></i> @Model.Buyin</div>
		<div><i title="Stack" class="icon-reorder"></i> @Model.Stack</div>
		<div class="@Model.WinningsClass">@Model.Winnings</div>
	</div>
	<div class="time"><i title="Last report" class="icon-time"></i> @Model.Time</div>
	@if (Model.ManagerButtonsEnabled)
	{
		<div class="controls">
			<div class="control"><a href="@Model.BuyinUrl"><i title="Buy In" class="icon-money"></i></a></div>
			<div class="control"><a href="@Model.ReportUrl"><i title="Report Stack" class="icon-pushpin"></i></a></div>
			<div class="control"><a href="@Model.CashoutUrl"><i title="Cash Out" class="icon-signout"></i></a></div>
		</div>
	}
</div>