@model Web.Models.UserModels.UserDetailsPageModel

@{
    Layout = "~/Views/Layouts/TwoColumns.cshtml";
}

@section Aside1{
    <div class="block gutter">
		@Html.Partial("~/Views/Misc/Avatar.cshtml", Model.AvatarModel)
	</div>
}
<div class="block gutter">
	<h1>User Profile</h1>
</div>
<div class="block gutter">
    <dl class="value-list">
        <dt class="label">Login Name</dt>
        <dd>@Model.UserName</dd>
        <dt class="label">Display Name</dt>
        <dd>@Model.DisplayName</dd>
        <dt class="label">Real Name</dt>
        <dd>@Model.RealName</dd>
        <dt class="label">Email</dt>
        <dd>@Model.Email</dd>
    </dl>
    @if (Model.ShowEditLink)
    {
        <div>
            <a href="@Model.EditLink" class="button action">Edit Profile</a>
            @if (Model.ShowPasswordLink)
            {
                <a href="@Model.ChangePasswordLink" class="button action">Change Password</a>
            }
        </div>
    }
</div>