@model Web.Models.UserModels.UserDetailsPageModel

@{
    Layout = "~/Views/Layouts/TwoColumns.cshtml";
}

@section Aside1{
    <div class="block gutter">
		@Html.Partial("~/Views/Misc/Avatar.cshtml", Model.AvatarModel)
	</div>
}
<div class="block gutter">
	<h1>User Profile</h1>
</div>
<div class="block gutter">
	<h2 class="label">Login Name</h2>
	<p>
		@Model.UserName
	</p>
	<h2 class="label">Display Name</h2>
	<p>
		@Model.DisplayName
	</p>
	<h2 class="label">Real Name</h2>
	<p>
		@Model.RealName
	</p>
	<h2 class="label">Email</h2>
	<p>
		@Model.Email
	</p>
	@if (Model.ShowEditLink)
	{
	    <p>
			<a href="@Model.EditLink" class="button">Edit Profile</a>
			@if (Model.ShowPasswordLink)
			{
			    <a href="@Model.ChangePasswordLink" class="button">Change Password</a>
			}
		</p>
	}
</div>