@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Facts.CashgameFactsPageModel

@{
    Layout = PageLayout.TwoColumns;
}

<div class="block gutter">    
    <h2 class="h2">Single Game</h2>
    <dl class="value-list">
        <dt class="value-list__key">Best Result</dt>
        <dd class="value-list__value">@Model.BestResultName: <span class="pos-result">@Model.BestResultAmount</span></dd>

        <dt class="value-list__key">Worst Result</dt>
        <dd class="value-list__value">@Model.WorstResultName: <span class="neg-result">@Model.WorstResultAmount</span></dd>
        
        @*
        BiggestBuyin
        BiggestCashout
        BiggestComeback
        *@
        
    </dl>
    
    <h2 class="h2">Totals</h2>
    <dl class="value-list">
        <dt class="value-list__key">Most Time Played</dt>
        <dd class="value-list__value">@Model.MostTimeName: @Model.MostTimeDuration</dd>
        
        <dt class="value-list__key">Best Total Result</dt>
        <dd class="value-list__value">@Model.BestTotalWinningsName: <span class="pos-result">@Model.BestTotalWinningsAmount</span></dd>
        
        <dt class="value-list__key">Worst Total Result</dt>
        <dd class="value-list__value">@Model.WorstTotalWinningsName: <span class="neg-result">@Model.WorstTotalWinningsAmount</span></dd>

        <dt class="value-list__key">Biggest Total Buyin</dt>
        <dd class="value-list__value">@Model.BiggestTotalBuyinName: @Model.BiggestTotalBuyinAmount</dd>
        
        <dt class="value-list__key">Biggest Total Cashout</dt>
        <dd class="value-list__value">@Model.BiggestTotalCashoutName: @Model.BiggestTotalCashoutAmount</dd>
        
        @*
        MostGamesPlayed
        HighestWinrate
        *@

    </dl>
</div>

@section Aside1
{
    <div class="block gutter">
        <h2 class="h2">Overall</h2>
        <dl class="value-list">
            <dt class="value-list__key">Number of games</dt>
            <dd class="value-list__value">@Model.GameCount</dd>

            <dt class="value-list__key">Total Time Played</dt>
            <dd class="value-list__value">@Model.TotalGameTime</dd>
        
            <dt class="value-list__key">Total Turnover</dt>
            <dd class="value-list__value">@Model.TotalTurnover</dd>
        </dl>
    </div>
}
