@model Web.Models.CashgameModels.Toplist.CashgameToplistTableModel

<table class="toplist" data-require="cashgame-toplist" data-sort-control-container="sort-control-container">
    <thead>
        <tr>
            <th class="base-column"></th>
            <th class="base-column">Player</th>
            <th class="@Model.ResultSortClass"><a href="@Model.ResultSortUrl">Winnings</a></th>
            <th class="@Model.BuyinSortClass"><a href="@Model.BuyinSortUrl">Buyin</a></th>
            <th class="@Model.CashoutSortClass"><a href="@Model.CashoutSortUrl">Cashout</a></th>
            <th class="@Model.GameTimeSortClass"><a href="@Model.GameTimeSortUrl">Time</a></th>
            <th class="@Model.GameCountSortClass"><a href="@Model.GameCountSortUrl">Games</a></th>
            <th class="@Model.WinRateSortClass"><a href="@Model.WinRateSortUrl">Winrate</a></th>
        </tr>
    </thead>
    <tbody class="list">
        @foreach(var itemModel in Model.ItemModels)
        {
            @Html.Partial("Toplist/ToplistTableItem", itemModel)
        }
    </tbody>
</table>