@model Web.Models.CashgameModels.Toplist.CashgameToplistTableItemModel

<tr class="table-list__row">
    <td class="table-list__cell table-list__cell--numeric">@Model.Rank.</td>
    <td class="table-list__cell">
        <a href="@Model.PlayerUrl">@Model.Name</a>
    </td>
    <td class="table-list__cell table-list__cell--numeric @Model.ResultClass">@Model.TotalResult</td>
</tr>