@model Web.Models.CashgameModels.Toplist.CashgameToplistTableItemModel

<tr>
    <td class="rank base-column">@Model.Rank.</td>
    <td class="name base-column">
        <a href="@Model.PlayerUrl">@Model.Name</a>
    </td>
    <td class="numeric result @Model.ResultClass @Model.ResultSortClass">@Model.TotalResult</td>
    <td class="numeric @Model.BuyinSortClass">@Model.Buyin</td>
    <td class="numeric @Model.CashoutSortClass">@Model.Cashout</td>
    <td class="gametime @Model.GameTimeSortClass">@Model.GameTime</td>
    <td class="numeric @Model.GameCountSortClass">@Model.GameCount</td>
    <td class="numeric @Model.WinRateSortClass">@Model.WinRate</td>
</tr>