@model Web.Models.CashgameModels.Toplist.ToplistTableModel

<table class="table-list table-list--sortable" data-require="sortable-table" data-sort-control-container="sort-control-container">
    <thead>
        <tr>
            <th class="table-list__column-header .table-list--sortable__base-column"></th>
            <th class="table-list__column-header .table-list--sortable__base-column"><span class="table-list__column-header__content">Player</span></th>
            @Html.Partial("Toplist/ToplistTableColumn", Model.ColumnsModel.ResultColumn)
            @Html.Partial("Toplist/ToplistTableColumn", Model.ColumnsModel.BuyinColumn)
            @Html.Partial("Toplist/ToplistTableColumn", Model.ColumnsModel.CashoutColumn)
            @Html.Partial("Toplist/ToplistTableColumn", Model.ColumnsModel.TimePlayedColumn)
            @Html.Partial("Toplist/ToplistTableColumn", Model.ColumnsModel.GamesPlayedColumn)
            @Html.Partial("Toplist/ToplistTableColumn", Model.ColumnsModel.WinRateColumn)
        </tr>
    </thead>
    <tbody class="list">
        @foreach(var itemModel in Model.ItemModels)
        {
            @Html.Partial("Toplist/ToplistTableItem", itemModel)
        }
    </tbody>
</table>