@model Web.Models.NavigationModels.NavigationModel

@if (!Model.IsEmpty && Model.Nodes.Count > 0)
{
    <nav class="@Model.CssClass">
        <h1>@Model.Heading</h1>
        <ul class="simple-list">
            @foreach (var node in Model.Nodes)
            {
                <li class="simple-list__item @node.CssClass"><a href="@node.Url"><span>@node.Name</span></a></li>
            }
        </ul>
    </nav>
}