@model Web.Models.NavigationModels.CashgamePageNavigationModel
<nav class="heading-nav cashgame-nav" data-require="heading-nav"><span>@Model.Selected</span><ul>
	<li><a href="@Model.MatrixLink">Matrix</a></li>
	<li><a href="@Model.LeaderboardLink">Leaderboard</a></li>
	<li><a href="@Model.ChartLink">Chart</a></li>
	<li><a href="@Model.ListingLink">Listing</a></li>
	<li><a href="@Model.FactsLink">Facts</a></li>
</ul></nav>