@model Web.Models.NavigationModels.CashgamePageNavigationModel
<nav class="cashgame-nav bar">
    <ul>
        <li><a href="@Model.MatrixLink">Matrix</a></li>
        <li><a href="@Model.ToplistLink">Toplist</a></li>
        <li><a href="@Model.ChartLink">Chart</a></li>
        <li><a href="@Model.ListLink">List</a></li>
        <li><a href="@Model.FactsLink">Facts</a></li>
    </ul>
</nav>