@model Web.Models.NavigationModels.NavigationModel

@if (Model.Nodes.Count > 0)
{
    <nav class="@Model.CssClass" data-require="@Model.DataRequire">
        @if (Model.HeadingIsLinked)
        {
            <h2><a href="{$model->headingLink->url}">{$model->heading}</a></h2>
        }
        else
        {
            <h2>{$model->heading}</h2>
        }
        <ul>
            @foreach (var node in Model.Nodes)
            {
                <li class="@node.CssClass"><a href="@node.UrlModel.Url"><span>@node.Name</span></a></li>
            }
        </ul>
    </nav>
}