@model Web.Models.NavigationModels.NavigationModel

@if (Model.Nodes.Count > 0)
{
    <nav class="@Model.CssClass">
        <h2>@Model.Heading</h2>
        <ul>
            @foreach (var node in Model.Nodes)
            {
                <li class="@node.CssClass"><a href="@node.UrlModel"><span>@node.Name</span></a></li>
            }
        </ul>
    </nav>
}