@using Web.Models.PageBaseModels
@model Web.Models.AuthModels.LoginPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Sign in</h1>
</div>
<div class="block gutter">

	<p>
		Please sign in using your username and password. <a href="@Model.ForgotPasswordUrl">Forgot password?</a>
	</p>
	<p>
		If you are a new user, please <a href="@Model.AddUserUrl">register</a>!
	</p>

	@Html.Partial("~/Views/Forms/Errors.cshtml")
    
    <form method="post">
        @Html.HiddenFor(model => model.ReturnUrl)
        <fieldset>
            <p>
                @Html.LabelFor(model => model.LoginName, "Email or User Name", new { @class = "label" })
                @Html.TextBoxFor(model => model.LoginName, new { @class = "textfield", autocapitalize = "off" })
            </p>
            <p>
                <label for="Password" class="label">Password</label>
                <input class="textfield" id="Password" name="Password" type="password" />
            </p>
            <p class="checkbox-layout">
                @Html.LabelFor(model => model.RememberMe, "Keep me signed in", new { @class = "checkbox-label" })
                @Html.CheckBoxFor(model => model.RememberMe)
            </p>
        </fieldset>
        <div class="buttons">
            <button type="submit" class="button action">Sign in</button>
        </div>
    </form>
</div>