@model Web.Models.HomegameModels.Add.AddHomegamePageModel

@{
    Layout = "~/Views/Layouts/OneColumn.cshtml";
}

<div class="block gutter">
	<h1>Create Homegame</h1>
</div>
<div class="block gutter">
	
    @Html.Partial("~/Views/Forms/Errors.cshtml")

    <form method="post">
		<fieldset>
            <p>
                @Html.LabelFor(model => model.DisplayName, "Display Name")
                @Html.TextBoxFor(model => model.DisplayName, new { @class = "textfield" })
            </p>
			<p>
                @Html.LabelFor(model => model.Description, "Description")
                @Html.TextBoxFor(model => model.Description, new { @class = "textfield" })
			</p>
			<p>
                @Html.LabelFor(model => model.CurrencySymbol, "Currency Symbol")
                @Html.TextBoxFor(model => model.CurrencySymbol, new { @class = "textfield", data_require = "currency-form" })
			</p>
			<p>
			    <label>@Html.LabelFor(model => model.CurrencyLayout, "Currency Layout")</label>
                @Html.DropDownListFor(x => x.CurrencyLayout, Model.CurrencyLayoutSelectItems, new {@id = "currencylayout"})
			</p>
		    <p>
		        <label>@Html.LabelFor(model => model.TimeZone, "Timezone")</label>
                @Html.DropDownListFor(x => x.TimeZone, Model.TimezoneSelectItems, new {@id = "timezone"})
		    </p>
		</fieldset>
		<div class="buttons">
			<button class="action" type="submit">Save</button>
		</div>
	</form>
</div>