@model Web.Models.CashgameModels.List.CashgameListTableModel
<table class="table-list table-list--sortable" data-require="sortable-table" data-sort-control-container="sort-control-container">
    <thead>
        <tr>
            <th class="table-list__column-header base-column @Model.DateSortClass"><a href="@Model.DateSortUrl" class="table-list__column-header__content">Date</a></th>
            <th class="table-list__column-header @Model.PlayerSortClass"><a href="@Model.PlayerSortUrl" class="table-list__column-header__content">Players</a></th>
            <th class="table-list__column-header @Model.LocationSortClass"><a href="@Model.LocationSortUrl" class="table-list__column-header__content">Location</a></th>
            <th class="table-list__column-header @Model.DurationSortClass"><a href="@Model.DurationSortUrl" class="table-list__column-header__content">Duration</a></th>
            <th class="table-list__column-header @Model.TurnoverSortClass"><a href="@Model.TurnoverSortUrl" class="table-list__column-header__content">Turnover</a></th>
            <th class="table-list__column-header @Model.AverageBuyinSortClass"><a href="@Model.AverageBuyinSortUrl" class="table-list__column-header__content">Average Buyin</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var listItemModel in Model.ListItemModels)
        {
            @Html.Partial("CashgameList/CashgameTableItem", listItemModel)
        }
    </tbody>
</table>