@model Web.Models.CashgameModels.List.CashgameListTableItemModel
<tr class="table-list__row">
    <td class="table-list__cell table-list--sortable__base-column">
        <a href="@Model.DetailsUrl" class="date">@Model.DisplayDate</a>
    </td>
    <td class="table-list__cell table-list__cell--numeric @Model.PlayerCountSortClass">@Model.PlayerCount</td>
    <td class="table-list__cell @Model.LocationSortClass">@Model.Location</td>
    <td class="table-list__cell @Model.DurationSortClass">@Model.Duration</td>
    <td class="table-list__cell table-list__cell--numeric @Model.TurnoverSortClass">@Model.Turnover</td>
    <td class="table-list__cell table-list__cell--numeric @Model.AvgBuyinSortClass">@Model.AvgBuyin</td>
</tr>