@model Web.Models.CashgameModels.Matrix.CashgameMatrixTableCellModel

<td class="table-list__cell table-list__cell--numeric @Model.WinnerClass">
    @if (@Model.ShowResult)
    {
        <span class="matrix__value @Model.ResultClass">@Model.Winnings</span>
        if (Model.ShowTransactions)
        {
            <span class="matrix__transaction">in @Model.Buyin</span>
            <span class="matrix__transaction">out @Model.Cashout</span>
        }
    }
</td>