@using Web.Extensions
@model Web.Models.CashgameModels.Matrix.CashgameMatrixTableRowModel

<tr class="table-list__row">
    <td class="table-list__cell table-list__cell--numeric">@Model.Rank.</td>
    <td class="table-list__cell">
        @*<div class="player-color-box" style="background-color: @Model.Color"></div>*@
        <a href="@Model.PlayerUrl">@Model.Name</a>
    </td>
    <td class="table-list__cell table-list__cell--numeric @Model.ResultClass">@Model.TotalResult</td>
    @foreach (var cellModel in Model.CellModels)
    {
        @Html.RenderModel(cellModel)
    }
</tr>