@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Edit.EditCashgamePageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Edit Cashgame</h1>
</div>
<div class="block gutter">
    
    @Html.RenderModel(Model.Errors)

    <form method="post">
        <fieldset>
            <p>
				@Model.IsoDate
			</p>
            <p>
                @Html.LabelFor(model => model.LocationId, "Location", new { @class = "label" })
                @Html.DropDownListFor(x => x.LocationId, Model.Locations)
                <a href="@Model.AddLocationUrl">Add new location</a>
            </p>
            <p>
                @Html.LabelFor(model => model.EventId, "Event", new { @class = "label" })
                @Html.DropDownListFor(x => x.EventId, Model.Events)
                <a href="@Model.AddEventUrl">Add new event</a>
            </p>
        </fieldset>
        <div class="buttons">
            <button type="submit" class="button button--action">Save Changes</button>
            <a href="@Model.DeleteUrl" class="button button--warning" data-require="delete-confirmation" data-message="Delete Cashgame?">Delete</a>
            <button class="button" data-require="cancel-button" data-cancel-url="@Model.CancelUrl">Cancel</button>
        </div>
    </form>
</div>