@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.UserModels.Add.AddUserPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Register</h1>
</div>
<div class="block gutter">
	
    <p>
		Register a new user
	</p>

    @Html.RenderModel(Model.Errors)
    
    <form method="post">
		<fieldset>
            <p>
                @Html.LabelFor(model => model.UserName, "Login Name", new { @class = "label" })
                @Html.TextBoxFor(model => model.UserName, new { @class = "textfield" })
            </p>
			<p>
                @Html.LabelFor(model => model.DisplayName, "Display Name", new { @class = "label" })
                @Html.TextBoxFor(model => model.DisplayName, new { @class = "textfield" })
            </p>
		    <p>
		        @Html.LabelFor(model => model.Email, "Email", new {@class = "label"})
		        @Html.TextBoxFor(model => model.Email, new {type = "email", @class = "textfield"})
		    </p>
            <p>
                <label class="label" for="Password">Password</label>
                <input class="textfield" id="Password" name="Password" type="password" value="" />
            </p>
		</fieldset>
		<div class="buttons">
            <button class="button button--action" type="submit">Register</button>
		</div>
	</form>
</div>