@model Web.Models.PageBaseModels.CashgamePageModel

@{
    Layout = "BunchPage.cshtml";
}

@RenderBody()

@section ContentNav{
    @Html.Partial("~/Views/Navigation/CashgamePageNavigation.cshtml", Model.PageNavModel)
    @Html.Partial("~/Views/Cashgame/Running/Bar.cshtml", Model.BarModel)
    <div class="block gutter heading-nav-container" id="sort-control-container">
        @Html.Partial("~/Views/Cashgame/Running/StartButton.cshtml", Model.StartButtonModel)
        @Html.Partial("~/Views/Navigation/CashgameYearNavigation.cshtml", Model.YearNavModel)
    </div>
}