@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.PageBaseModels.PageModel
<!DOCTYPE html>
<html lang="en" class="@Model.HtmlCssClass">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="//fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="Statistics for Poker Home Games. Detailed history for all your games" />
    <meta name="author" content="PokerBunch.com">
    <meta name="keywords" content="poker,homegame,cashgame,cash,home,game,stats,statistics,chart" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Raw(Model.VueConfigScriptHtml)
    @Html.Partial(PageModel.ScriptView)
    @Html.Partial(PageModel.StyleView)
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>@Model.BrowserTitle</title>
</head>

<body class="@Model.BodyCssClass">
    @RenderBody()
</body>
</html>

<!-- version: @Model.Version -->
