@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.PageBaseModels.PageModel
<!DOCTYPE html>
<html lang="en" class="@Model.HtmlCssClass">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="//fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="Statistics for Poker Home Games. Detailed history for all your games" />
    <meta name="author" content="PokerBunch.com">
    <meta name="keywords" content="poker,homegame,cashgame,cash,home,game,stats,statistics,chart" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial(PageModel.ScriptView)
    <style type="text/css">
        @@font-face {
            font-family: 'FontAwesome';
            src: url('/dist/fonts/fontawesome-webfont.eot?v=3.0.1');
            src: url('/dist/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format("embedded-opentype"), url('/dist/fonts/fontawesome-webfont.woff?v=3.0.1') format("woff"), url('/dist/fonts/fontawesome-webfont.ttf?v=3.0.1') format("truetype");
            font-weight: normal;
            font-style: normal;
        }
    </style>
    @Html.Partial(PageModel.StyleView)
    <link rel="shortcut icon" href="/favicon.ico" />
    @Html.RenderModel(Model.VueConfig)
    <title>@Model.BrowserTitle</title>
</head>

<body class="@Model.BodyCssClass">
    @RenderBody()
    @Html.RenderModel(Model.GoogleAnalyticsModel)
</body>
</html>

<!-- version: @Model.Version -->
