@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.UserModels.Edit.EditUserPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Edit Profile</h1>
</div>
<div class="block gutter">
	
    @Html.RenderModel(Model.Errors)
    
    <h2 class="label">Login Name</h2>
	<div>
		@Model.UserName
	</div>

    <form method="post">
		<fieldset>
            <p>
                @Html.LabelFor(model => model.DisplayName, "Display Name", new { @class = "label" })
                @Html.TextBoxFor(model => model.DisplayName, new { @class = "textfield" })
            </p>
			<p>
                @Html.LabelFor(model => model.RealName, "Real Name", new { @class = "label" })
                @Html.TextBoxFor(model => model.RealName, new { @class = "textfield" })
            </p>
			<p>
                @Html.LabelFor(model => model.Email, "Email", new { @class = "label" })
                @Html.TextBoxFor(model => model.Email, new { type = "email", @class = "textfield" })
            </p>
		</fieldset>
		<div class="buttons">
		    <button class="button button--action" type="submit">Save</button>
            <button class="button" data-require="cancel-button">Cancel</button>
		</div>
	</form>
</div>