@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Running.RunningCashgamePageModel

@{
    Layout = PageLayout.TwoColumns;
}

<div class="block gutter">
	<h1>Running Cashgame</h1>
</div>

<div class="button-list">
	@if (Model.ReportButtonEnabled)
	{
        <a href="@Model.ReportUrl" class="icon-button">
			<i class="icon-reorder"></i>
			Report
		</a>
	}

	@if (Model.BuyinButtonEnabled)
	{
	    <a href="@Model.BuyinUrl" class="icon-button">
			<i class="icon-money"></i>
			Buy In
		</a>
	}

	@if (Model.CashoutButtonEnabled)
	{
        <a href="@Model.CashoutUrl" class="icon-button">
			<i class="icon-signout"></i>
			Cash Out
		</a>
	}
	
	@if (@Model.EndGameButtonEnabled)
	{
	    <a href="@Model.EndGameUrl" class="icon-button">
			<i class="icon-signout"></i>
			End Game
		</a>
	}
</div>

<div class="block gutter">
	@if (Model.ShowTable)
	{
        if (Model.RunningCashgameTableModel != null)
        {
            @Html.Partial("RunningCashgame/StatusTable", Model.RunningCashgameTableModel)
        }
	}
	else
	{
	    @:No one has joined the game yet.
	}
    
    
    <div class="standings" data-require="running-cashgame">
        <div>
            <div class="standings-item" data-bind="foreach: players">
                <div class="name">
                    <a href="#PlayerUrl" data-bind="text: name"></a>
                    <i title="Cashed out" class="icon-ok-sign"></i>
                </div>
                <div class="amounts">
                    <div><i title="Buy in" class="icon-signin"></i> Buyin</div>
                    <div><i title="Stack" class="icon-reorder"></i> Stack</div>
                    <div class="WinningsClass">Winnings</div>
                </div>
                <div class="time"><i title="Last report" class="icon-time"></i> Time</div>
                <div class="controls">
                    <div class="control"><a href="#ReportUrl"><i title="Report Stack" class="icon-pushpin"></i></a></div>
                    <div class="control"><a href="#BuyinUrl"><i title="Buy In" class="icon-money"></i></a></div>
                    <div class="control"><a href="#CashoutUrl"><i title="Cash Out" class="icon-signout"></i></a></div>
                </div>
            </div>
        </div>

        <div class="totals">
            <div class="title">Totals: </div>
            <div class="amounts">
                <div class="amount"><i title="Total Buy in" class="icon-signin"></i> <span data-bind="text: totalBuyin"></span></div>
                <div class="amount"><i title="Total Stacks" class="icon-reorder"></i> <span data-bind="text: totalStacks"></span></div>
            </div>
        </div>

    </div>
		
    @if (Model.ShowChart)
	{
	    <div data-require="cashgame-game-chart">
            <script type="application/json">
                @Html.Raw(Model.ChartJson)
            </script>
	    </div>
	}
</div>

@section Aside2{
    <div class="block gutter">
		<dl class="value-list">
			@if (Model.ShowStartTime)
			{
				<dt class="label">Start Time</dt>
				<dd>@Model.StartTime</dd>
			}
			<dt class="label">Location</dt>
			<dd>@Model.Location</dd>
		</dl>
	</div>
}