@model Web.Models.CashgameModels.Edit.EditCashgamePageModel

@{
    Layout = "~/Views/Layouts/OneColumn.cshtml";
}

<div class="block gutter">
	<h1>Edit Cashgame</h1>
</div>
<div class="block gutter">
    
    @Html.Partial("~/Views/Forms/Errors.cshtml")

    <form method="post">
        <fieldset>
            <p>
				@Model.IsoDate
			</p>
            <p>
                @Html.LabelFor(model => model.TypedLocation, "Enter Location", new { @class = "label" })
                @Html.TextBoxFor(model => model.TypedLocation, new { @class="textfield", list = "location-list"})

                <datalist id="location-list">
                    @Html.LabelFor(model => model.SelectedLocation, "or", new { @class = "label" })
                    @Html.DropDownListFor(x => x.SelectedLocation, Model.Locations)
                </datalist>
            </p>
        </fieldset>
        <div class="buttons">
            <button type="submit" class="action">Save Changes</button>
            @if (Model.EnableDelete)
            {
                <a href="@Model.DeleteUrl.Relative" class="button warning" data-require="delete-confirmation" data-message="Delete Cashgame?">Delete</a>
            }
            <button data-require="cancel-button" data-cancel-url="@Model.CancelUrl.Relative">Cancel</button>
        </div>
    </form>
</div>