@using Web.Models.PageBaseModels
@model Web.Models.UserModels.ChangePassword.ChangePasswordPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Change Password</h1>
</div>
<div class="block gutter">
	
    @Html.Partial("~/Views/Forms/Errors.cshtml")
    
    <form method="post">
		<fieldset>
		    <p>
		        @Html.Label("password", "New Password", new { @class = "label" })
		        @Html.TextBox("password", new { type = "password", @class = "textfield" })
		    </p>
			<p>
                @Html.Label("repeat", "Repeat New Password", new { @class = "label" })
                @Html.TextBox("repeat", new { type = "password", @class = "textfield" })
            </p>
		</fieldset>
		<div class="buttons">
            <button class="button button--action" type="submit">Save</button>
		</div>
	</form>
</div>