@model Web.Models.UserModels.ChangePassword.ChangePasswordPageModel

@{
    Layout = "~/Views/Layouts/OneColumn.cshtml";
}

<div class="block gutter">
	<h1>Change Password</h1>
</div>
<div class="block gutter">
	
    @Html.Partial("~/Views/Forms/Errors.cshtml")
    
    <form method="post">
		<fieldset>
            <p>
                @Html.LabelFor(model => model.Password, "New Password")
                @Html.TextBoxFor(model => model.Password, new { type = "password", @class = "textfield" })
            </p>
			<p>
                @Html.LabelFor(model => model.Repeat, "Repeat New Password")
                @Html.TextBoxFor(model => model.Repeat, new { type = "password", @class = "textfield" })
            </p>
		</fieldset>
		<div class="buttons">
			<button class="action" type="submit">Save</button>
		</div>
	</form>
</div>