@model Web.Models.FormModels.ListFieldModel

<input type="text" name="@Model.FieldName" id="@Model.FieldId" value="@Model.Value" list="@Model.ListName" class="textfield">
<datalist id="@Model.ListName">
    <label for="@Model.DropDownName">or</label>
    <select id="@Model.DropDownName" name="@Model.DropDownName">
        @for (var i = 0; i < Model.Names.Count; i++)
        {
            <option value="@Model.Values[i]">@Model.Names[i]</option>
        }
    </select>
</datalist>