@model Web.Models.CashgameModels.Status.CashgameStatusModel
<div class="block">
    <h1 class="module-heading">@Model.Heading</h1>
    <p>@Model.Description</p>
</div>
<div class="block">
    <a href="@Model.Url" class="button button--action">@Model.LinkText</a>
</div>
@if (Model.GameIsRunning)
{
    <div class="block">
        There is also a <a href="@Model.DashboardUrl">dashboard</a> for this game.
    </div>
}