@model Web.Components.NavigationModels.CashgamePageNavigationModel
<nav class="cashgame-nav heading-nav" data-require="heading-nav">
    <span>@Model.SelectedName</span>
    <i class="nav-arrow"></i>
    <ul>
        <li class="@Model.OverviewSelectedClass"><a href="@Model.OverviewUrl">@Model.OverviewName</a></li>
        <li class="@Model.MatrixSelectedClass"><a href="@Model.MatrixUrl">@Model.MatrixName</a></li>
        <li class="@Model.ToplistSelectedClass"><a href="@Model.ToplistUrl">@Model.ToplistName</a></li>
        <li class="@Model.ChartSelectedClass"><a href="@Model.ChartUrl">@Model.ChartName</a></li>
        <li class="@Model.ListSelectedClass"><a href="@Model.ListUrl">@Model.ListName</a></li>
        <li class="@Model.FactsSelectedClass"><a href="@Model.FactsUrl">@Model.FactsName</a></li>
    </ul>
</nav>