@model Web.Models.CashgameModels.Matrix.CashgameMatrixTableCellModel

<td class="@Model.WinnerClass numeric">
    @if (@Model.ShowResult){
        <span class="@Model.ResultClass">@Model.Winnings</span>
        if (Model.ShowTransactions){
            <span class="transaction">in @Model.Buyin</span>
            <span class="transaction">out @Model.Cashout</span>
        }
    }
</td>