@model Web.Models.CashgameModels.Matrix.MatrixTableRowModel

<tr>
    <td class="rank first">@Model.Rank.</td>
    <td class="name">
        <a href="@Model.PlayerUrl">@Model.Name</a>
    </td>
    <td class="amount result @Model.ResultClass">@Model.TotalResult</td>
    @foreach (var cellModel in Model.CellModels)
    {
        @Html.Partial("Matrix/MatrixTableCell", cellModel)
    }
</tr>