@model Web.Models.PlayerModels.Details.PlayerDetailsPageModel

@{
    Layout = "~/Views/Layouts/TwoColumns.cshtml";
}

<div class="block gutter">
	<h1>@Model.DisplayName</h1>
</div>
<div class="block gutter">
    @Html.Partial("PlayerFacts", Model.PlayerFactsModel)
    @Html.Partial("PlayerBadges", Model.PlayerBadgesModel)
    
    @if (Model.DeleteEnabled)
    {
        <p>
            <a href="@Model.DeleteUrl.Relative" class="button warning" data-require="delete-confirmation" data-message="Delete Player?">Delete</a>
        </p>
    }
</div>
@section Aside2{
	<div class="block gutter">
		@if (Model.ShowUserInfo){
            @Html.Partial("~/Views/Misc/Avatar.cshtml", Model.AvatarModel)
			<p>
				<a href="@Model.UserUrl.Relative" class="button">User Profile</a>
			</p>
		} else {
			<p>
				<a href="@Model.InvitationUrl.Relative" class="button">Invite User</a>
			</p>
		}
	</div>
}