@model Web.Models.PlayerModels.Facts.PlayerFactsModel

<h2>Player Facts</h2>

<dl class="value-list">
    <dt>Total result</dt>
    <dd>@Model.Winnings</dd>
    <dt>Best result</dt>
    <dd>@Model.BestResult</dd>
    <dt>Worst result</dt>
    <dd>@Model.WorstResult</dd>
    <dt>Games played</dt>
    <dd>@Model.GamesPlayed</dd>
    <dt>Time played</dt>
    <dd>@Model.TimePlayed</dd>
</dl>