@model Web.Models.CashgameModels.List.CashgameListTableModel
<table class="sortable-table table-list" data-require="sortable-table" data-sort-control-container="sort-control-container">
    <thead>
        <tr>
            <th class="base-column @Model.DateSortClass"><a href="@Model.DateSortUrl">Date</a></th>
            <th class="@Model.PlayerSortClass"><a href="@Model.PlayerSortUrl">Players</a></th>
            <th class="@Model.LocationSortClass"><a href="@Model.LocationSortUrl">Location</a></th>
            <th class="@Model.DurationSortClass"><a href="@Model.DurationSortUrl">Duration</a></th>
            <th class="@Model.TurnoverSortClass"><a href="@Model.TurnoverSortUrl">Turnover</a></th>
            <th class="@Model.AverageBuyinSortClass"><a href="@Model.AverageBuyinSortUrl">Average Buyin</a></th>
        </tr>
    </thead>
    <tbody class="list">
        @foreach (var listItemModel in Model.ListItemModels)
        {
            @Html.Partial("List/CashgameTableItem", listItemModel)
        }
    </tbody>
</table>